<h2>Please Add Your new Task</h2>

<%= form_for(@task) do |task| %>
    <%= task.label :title %>
    <%= task.text_field :title %>
    <%= task.label :details %>
    <%= task.text_field :details %>
    <%= task.submit %>
<% end %>

<p> <%= link_to "Back to Tasks", tasks_path  %>
